
<div class="main-header main-header-fullwidth main-header-has-header-standard">
<div class="header--standard header--standard-landing">
	<app-menu></app-menu>
</div>
	<div class="header-spacer--standard"></div>

	<div class="content-bg-wrap">
		<div class="content-bg bg-landing"></div>
	</div>

	<div class="container landing-content">
		<div class="row display-flex">
			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
				<div class="landing-content">
					<h1>The Most Complete Social Network is Here!</h1>
					<p>We are the best and biggest social network with 5 billion active users all around the world. Share you
						thoughts, write blog posts, show your favourite music via Stopify, earn badges and much more!
					</p>
				</div>
			</div>
		
		</div>
	</div>
</div>


<!-- Clients Block -->

<section class="crumina-module crumina-clients">
	<div class="container">
		<div class="row">
			<div class="col-xl-2 m-auto col-lg-2 col-md-6 col-sm-6 col-xs-12">
				<a class="clients-item" href="#">
					<img src="./assets/img/client1.png" class="" alt="logo">
				</a>
			</div>
			<div class="col-xl-2 m-auto col-lg-2 col-md-6 col-sm-6 col-xs-12">
				<a class="clients-item" href="#">
					<img src="./assets/img/client2.png" class="" alt="logo">
				</a>
			</div>
			<div class="col-xl-2 m-auto col-lg-2 col-md-6 col-sm-6 col-xs-12">
				<a class="clients-item" href="#">
					<img src="./assets/img/client3.png" class="" alt="logo">
				</a>
			</div>
			<div class="col-xl-2 m-auto col-lg-2 col-md-6 col-sm-6 col-xs-12">
				<a class="clients-item" href="#">
					<img src="./assets/img/client4.png" class="" alt="logo">
				</a>
			</div>
			<div class="col-xl-2 m-auto col-lg-2 col-md-6 col-sm-6 col-xs-12">
				<a class="clients-item" href="#">
					<img src="./assets/img/client5.png" class="" alt="logo">
				</a>
			</div>
		</div>
	</div>
</section>

<!-- ... end Clients Block -->

<section class="align-center pt80 section-move-bg-top img-scale-animation scrollme">
	<div class="container">
		<div class="row">
			<div class="col-xl-10 m-auto col-lg-10 col-md-12 col-sm-12 col-xs-12">
				<img class="main-img" src="assets/img/scale1.png" alt="screen">
			</div>
		</div>

		<img class="first-img1" alt="img" src="assets/img/scale2.png">
		<img class="second-img1" alt="img" src="assets/img/scale3.png">
		<img class="third-img1" alt="img" src="assets/img/scale4.png">
	</div>
	<div class="content-bg-wrap">
		<div class="content-bg bg-section2"></div>
	</div>
</section>


<section class="medium-padding120">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
				<img src="assets/img/icon-fly.png" alt="screen">
			</div>

			<div class="col-xl-4 col-lg-4 m-auto col-md-12 col-sm-12 col-xs-12">
				<div class="crumina-module crumina-heading">
					<h2 class="heading-title">Why Join <span class="c-primary">Olympus Social Network</span>?</h2>
					<p class="heading-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="medium-padding120">
	<div class="container">
		<div class="row">
			<div class="col-xl-4 col-lg-4 m-auto col-md-12 col-sm-12 col-xs-12">
				<div class="crumina-module crumina-heading">
					<h2 class="heading-title">Meet New People <span class="c-primary">all over the World</span></h2>
					<p class="heading-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa.
					</p>
				</div>
			</div>

			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
				<img src="assets/img/image1.png" alt="screen">
			</div>
		</div>
	</div>
</section>


<section class="medium-padding120">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
				<img src="assets/img/image2.png" alt="screen">
			</div>

			<div class="col-xl-4 col-lg-4 m-auto col-md-12 col-sm-12 col-xs-12">
				<div class="crumina-module crumina-heading">
					<h2 class="heading-title">The Best UI/UX and <span class="c-primary">Awesome Features</span></h2>
					<p class="heading-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="medium-padding120">
	<div class="container">
		<div class="row">
			<div class="col-xl-4 col-lg-4 m-auto col-md-12 col-sm-12 col-xs-12">
				<div class="crumina-module crumina-heading">
					<h2 class="heading-title">Find People with <span class="c-primary">Your Same Interests</span></h2>
					<p class="heading-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa.
					</p>
				</div>
			</div>

			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
				<img src="assets/img/image3.png" alt="screen">
			</div>
		</div>
	</div>
</section>




<section class="medium-padding120">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
				<img src="assets/img/image4.png" alt="screen">
			</div>

			<div class="col-xl-5 col-lg-5 m-auto col-md-12 col-sm-12 col-xs-12">
				<div class="crumina-module crumina-heading">
					<h2 class="h1 heading-title">Release all the Power with the <span class="c-primary">Olympus App!</span></h2>
					<p class="heading-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
						ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p>
				</div>

				<ul class="list--styled">
					<li>
						<i class="fa fa-check-circle-o" aria-hidden="true"></i>
						Build your profile in just minutes, it’s that simple!
					</li>
					<li>
						<i class="fa fa-check-circle-o" aria-hidden="true"></i>
						Unlimited messaging with the best interface.
					</li>
				</ul>

				<a href="#" class="btn btn-market">
					<img class="icon" src="./assets/icons/apple-logotype.svg" alt="app store">
					<div class="text">
						<span class="sup-title">AVAILABLE ON THE</span>
						<span class="title">App Store</span>
					</div>
				</a>

				<a href="#" class="btn btn-market">
					<img class="icon" src="./assets/icons/google-play.svg" alt="google">
					<div class="text">
						<span class="sup-title">ANDROID APP ON</span>
						<span class="title">Google Play</span>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>


<section class="medium-padding100 subscribe-animation scrollme bg-users">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
				<div class="crumina-module crumina-heading c-white custom-color">
					<h2 class="h1 heading-title">Olympus Newsletter</h2>
					<p class="heading-text">Subscribe to be the first one to know about updates, new features and much more!
					</p>
				</div>

				<form class="form-inline subscribe-form" method="post">
					<div class="form-group label-floating is-empty">
						<label class="control-label">Enter your email</label>
						<input class="form-control bg-white" placeholder="" type="email">
					</div>

					<button class="btn btn-blue btn-lg">Send</button>
				</form>

			</div>
		</div>

		<img src="assets/img/paper-plane.png" alt="plane" class="plane">
	</div>
</section>

<section class="medium-padding120 scrollme">
	<div class="container">
		<div class="row mb60">
			<div class="col-xl-4 col-lg-4 m-auto col-md-12 col-sm-12 col-xs-12">
				<div class="crumina-module crumina-heading align-center">
					<div class="heading-sup-title">OLYMPUS BLOG</div>
					<h2 class="h1 heading-title">Latest News</h2>
					<p class="heading-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
				<article class="hentry blog-post">

					<div class="post-thumb">
						<img src="./assets/img/post1.jpg" alt="photo">
					</div>

					<div class="post-content">
						<a href="#" class="post-category bg-blue-light">THE COMMUNITY</a>
						<a href="#" class="h4 post-title">Here’s the Featured Urban photo of August! </a>
						<p>Here’s a photo from last month’s photoshoot. We got really awesome shots for the new catalog.</p>

						<div class="author-date">
							by
							<a class="h6 post__author-name fn" href="#">Maddy Simmons</a>
							<div class="post__date">
								<time class="published" datetime="2017-03-24T18:18">
									- 7 hours ago
								</time>
							</div>
						</div>

					</div>

				</article>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
				<article class="hentry blog-post">

					<div class="post-thumb">
						<img src="./assets/img/post2.jpg" alt="photo">
					</div>

					<div class="post-content">
						<a href="#" class="post-category bg-primary">OLYMPUS NEWS</a>
						<a href="#" class="h4 post-title">Olympus Network added new photo filters!</a>
						<p>Here’s a photo from last month’s photoshoot. We got really awesome shots for the new catalog.</p>

						<div class="author-date">
							by
							<a class="h6 post__author-name fn" href="#">JACK SCORPIO</a>
							<div class="post__date">
								<time class="published" datetime="2017-03-24T18:18">
									- 12 hours ago
								</time>
							</div>
						</div>
					</div>

				</article>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
				<article class="hentry blog-post">

					<div class="post-thumb">
						<img src="./assets/img/post3.jpg" alt="photo">
					</div>

					<div class="post-content">
						<a href="#" class="post-category bg-purple">INSPIRATION</a>
						<a href="#" class="h4 post-title">Take a look at these truly awesome worspaces</a>
						<p>Here’s a photo from last month’s photoshoot. We got really awesome shots for the new catalog.</p>

						<div class="author-date">
							by
							<a class="h6 post__author-name fn" href="#">Maddy Simmons</a>
							<div class="post__date">
								<time class="published" datetime="2017-03-24T18:18">
									- 2 days ago
								</time>
							</div>
						</div>

					</div>

				</article>
			</div>
		</div>
	</div>
</section>

<section class="align-right pt160 pb80 section-move-bg call-to-action-animation scrollme">
	<div class="container">
		<div class="row">
		</div>
	</div>
	<img class="first-img" alt="guy" src="assets/img/guy.png">
	<img class="second-img" alt="rocket" src="assets/img/rocket1.png">
	<div class="content-bg-wrap">
		<div class="content-bg bg-section1"></div>
	</div>
</section>

<div class="modal fade" id="registration-login-form-popup">
	<div class="modal-dialog ui-block window-popup registration-login-form-popup">
		<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
			<svg class="olymp-close-icon"><use xlink:href="./assets/icons/icons.svg#olymp-close-icon"></use></svg>
		</a>
		<div class="registration-login-form">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#home1" role="tab">
							<svg class="olymp-login-icon"><use xlink:href="./assets/icons/icons.svg#olymp-login-icon"></use></svg>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#profile1" role="tab">
							<svg class="olymp-register-icon"><use xlink:href="./assets/icons/icons.svg#olymp-register-icon"></use></svg>
						</a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active" id="home1" role="tabpanel" data-mh="log-tab">
						<div class="title h6">Register to Olympus</div>
						<form class="content">
							<div class="row">
								<div class="col-lg-6 col-md-6">
									<div class="form-group label-floating is-empty">
										<label class="control-label">First Name</label>
										<input class="form-control" placeholder="" type="text">
									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="form-group label-floating is-empty">
										<label class="control-label">Last Name</label>
										<input class="form-control" placeholder="" type="text">
									</div>
								</div>
								<div class="col-xl-12 col-lg-12 col-md-12">
									<div class="form-group label-floating is-empty">
										<label class="control-label">Your Email</label>
										<input class="form-control" placeholder="" type="email">
									</div>
									<div class="form-group label-floating is-empty">
										<label class="control-label">Your Password</label>
										<input class="form-control" placeholder="" type="password">
									</div>

									<div class="form-group date-time-picker label-floating">
										<label class="control-label">Your Birthday</label>
										<input name="datetimepicker" value="10/24/1984" />
										<span class="input-group-addon">
											<svg class="olymp-calendar-icon"><use xlink:href="./assets/icons/icons.svg#olymp-calendar-icon"></use></svg>
										</span>
									</div>

									<div class="form-group label-floating is-select">
										<label class="control-label">Your Gender</label>
										<select class="selectpicker form-control">
											<option value="MA">Male</option>
											<option value="FE">Female</option>
										</select>
									</div>

									<div class="remember">
										<div class="checkbox">
											<label>
												<input name="optionsCheckboxes" type="checkbox">
												I accept the <a href="#">Terms and Conditions</a> of the website
											</label>
										</div>
									</div>

									<a href="#" class="btn btn-purple btn-lg full-width">Complete Registration!</a>
								</div>
							</div>
						</form>
					</div>

					<div class="tab-pane" id="profile1" role="tabpanel" data-mh="log-tab">
						<div class="title h6">Login to your Account</div>
						<form class="content">
							<div class="row">
								<div class="col-xl-12 col-lg-12 col-md-12">
									<div class="form-group label-floating is-empty">
										<label class="control-label">Your Email</label>
										<input class="form-control" placeholder="" type="email">
									</div>
									<div class="form-group label-floating is-empty">
										<label class="control-label">Your Password</label>
										<input class="form-control" placeholder="" type="password">
									</div>

									<div class="remember">

										<div class="checkbox">
											<label>
												<input name="optionsCheckboxes" type="checkbox">
												Remember Me
											</label>
										</div>
										<a href="#" class="forgot">Forgot my Password</a>
									</div>

									<a href="#" class="btn btn-lg btn-primary full-width">Login</a>

									<div class="or"></div>

									<a href="#" class="btn btn-lg bg-facebook full-width btn-icon-left"><i class="fa fa-facebook" aria-hidden="true"></i>Login with Facebook</a>

									<a href="#" class="btn btn-lg bg-twitter full-width btn-icon-left"><i class="fa fa-twitter" aria-hidden="true"></i>Login with Twitter</a>


									<p>Don’t you have an account? <a href="#">Register Now!</a> it’s really simple and you can start enjoing all the benefits!</p>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
</div>

<app-footer></app-footer>

<!-- Window-popup-CHAT for responsive min-width: 768px -->

<div class="ui-block popup-chat popup-chat-responsive">
	<div class="ui-block-title">
		<span class="icon-status online"></span>
		<h6 class="title" >Chat</h6>
		<div class="more">
			<svg class="olymp-three-dots-icon"><use xlink:href="assets/icons/icons.svg#olymp-three-dots-icon"></use></svg>
			<svg class="olymp-little-delete js-chat-open"><use xlink:href="assets/icons/icons.svg#olymp-little-delete"></use></svg>
		</div>
	</div>
	<div class="mCustomScrollbar">
		<ul class="notification-list chat-message chat-message-field">
			<li>
				<div class="author-thumb">
					<img src="./assets/img/avatar14-sm.jpg" alt="author" class="mCS_img_loaded">
				</div>
				<div class="notification-event">
					<span class="chat-message-item">Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks</span>
					<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 8:10pm</time></span>
				</div>
			</li>

			<li>
				<div class="author-thumb">
					<img src="./assets/img/author-page.jpg" alt="author" class="mCS_img_loaded">
				</div>
				<div class="notification-event">
					<span class="chat-message-item">Don’t worry Mathilda!</span>
					<span class="chat-message-item">I already bought everything</span>
					<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 8:29pm</time></span>
				</div>
			</li>

			<li>
				<div class="author-thumb">
					<img src="./assets/img/avatar14-sm.jpg" alt="author" class="mCS_img_loaded">
				</div>
				<div class="notification-event">
					<span class="chat-message-item">Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks</span>
					<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 8:10pm</time></span>
				</div>
			</li>
		</ul>
	</div>

	<form>

		<div class="form-group label-floating is-empty">
			<label class="control-label">Press enter to post...</label>
			<textarea class="form-control" placeholder=""></textarea>
			<div class="add-options-message">
				<a href="#" class="options-message">
					<svg class="olymp-computer-icon"><use xlink:href="assets/icons/icons.svg#olymp-computer-icon"></use></svg>
				</a>
				<div class="options-message smile-block">

					<svg class="olymp-happy-sticker-icon"><use xlink:href="assets/icons/icons.svg#olymp-happy-sticker-icon"></use></svg>

					<ul class="more-dropdown more-with-triangle triangle-bottom-right">
						<li>
							<a href="#">
								<img src="./assets/img/icon-chat1.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="./assets/img/icon-chat2.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="./assets/img/icon-chat3.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="./assets/img/icon-chat4.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="./assets/img/icon-chat5.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="./assets/img/icon-chat6.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="./assets/img/icon-chat7.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="./assets/img/icon-chat8.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="./assets/img/icon-chat9.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="./assets/img/icon-chat10.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="./assets/img/icon-chat11.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="./assets/img/icon-chat12.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="./assets/img/icon-chat13.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="./assets/img/icon-chat14.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="./assets/img/icon-chat15.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="./assets/img/icon-chat16.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="./assets/img/icon-chat17.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="./assets/img/icon-chat18.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="./assets/img/icon-chat19.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="./assets/img/icon-chat20.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="./assets/img/icon-chat21.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="./assets/img/icon-chat22.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="./assets/img/icon-chat23.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="./assets/img/icon-chat24.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="./assets/img/icon-chat25.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="./assets/img/icon-chat26.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="./assets/img/icon-chat27.png" alt="icon">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</form>

</div>


<!-- ... end Window-popup-CHAT for responsive min-width: 768px -->

<app-goto-top></app-goto-top>
