


  <!-- Stunning header -->

  <div class="stunning-header bg-primary-opacity">

    <div class="header--standard header--standard-landing">
      <app-menu></app-menu>
    </div>

    <div class="header-spacer--standard"></div>

    <div class="stunning-header-content">
      <h1 class="stunning-header-title">Contacts</h1>
      <ul class="breadcrumbs">
        <li class="breadcrumbs-item">
          <a routerLink="/">Home</a>
          <span class="icon breadcrumbs-custom">/</span>
        </li>
        <li class="breadcrumbs-item active">
          <span>Contacts</span>
        </li>
      </ul>
    </div>

    <div class="content-bg-wrap">
      <div class="content-bg stunning-header-bg1"></div>
    </div>
  </div>

  <!-- End Stunning header -->


  <section class="mt-0">
    <div class="section">
      <div id="googleMap" style="height: 480px"></div>
      {{marker}}
    </div>
  </section>


  <section class="medium-padding120">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <div class="contact-item-wrap">
            <h3 class="contact-title">Olympus HQ</h3>
            <div class="contact-item">
              <a href="#">254 W58th St, New York NY 10001, USA</a>
            </div>
            <div class="contact-item">
              <h6 class="sub-title">General Inquiries:</h6>
              <a href="mailto:">hqinquiries@olympus.com</a>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <div class="contact-item-wrap">
            <h3 class="contact-title">Press and Media</h3>
            <div class="contact-item">
              <h6 class="sub-title">Jenny Stevens:</h6>
              <a href="mailto:">jennymedia@olympus.com</a>
            </div>
            <div class="contact-item">
              <h6 class="sub-title">Skype:</h6>
              <a href="#">Stevens Press</a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <div class="contact-item-wrap">
            <h3 class="contact-title">Business Chat</h3>
            <div class="contact-item">
              <h6 class="sub-title">Marc Jackson:</h6>
              <a href="mailto:">jacksonbusiness@olympus.com</a>
            </div>
            <div class="contact-item">
              <h6 class="sub-title">Skype:</h6>
              <a href="#">Jackson Business</a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <div class="contact-item-wrap">
            <h3 class="contact-title">Human Resources</h3>
            <div class="contact-item">
              <h6 class="sub-title">Stella Karenson:</h6>
              <a href="mailto:">stellahhrr@olympus.com</a>
            </div>
            <div class="contact-item">
              <h6 class="sub-title">Skype:</h6>
              <a href="#">Karenson HHRR</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="medium-padding120 bg-body contact-form-animation scrollme">
    <div class="container">
      <div class="row">
        <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-xs-12 m-auto">
          <div class="contact-form-wrap">
            <div class="contact-form-thumb">
              <h2 class="title">SEND US
                <span>A RAVEN</span>
              </h2>
              <p>Do you have general questions about Olympus Social Network? Send us a raven and we’ll answer you as fast as
                we can!</p>
              <img src="assets/img/crew.png" alt="crew" class="crew">
            </div>
            <form class="contact-form">
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">First Name</label>
                    <input class="form-control" placeholder="" type="text" value="James">
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Last Name</label>
                    <input class="form-control" placeholder="" type="text" value="Spiegel">
                  </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12">
                  <div class="form-group label-floating">
                    <label class="control-label">Your Email</label>
                    <input class="form-control" placeholder="" type="email" value="james-spiegel@yourmail.com">
                  </div>

                  <div class="form-group label-floating is-select">
                    <label class="control-label">Inquiry Subject</label>
                    <select class="selectpicker form-control">
                      <option value="AC">Olympus Account Inquiries</option>
                      <option value="AC">Olympus Account Inquiries</option>
                    </select>
                  </div>

                  <div class="form-group label-floating is-empty">
                    <label class="control-label">Your Message</label>
                    <textarea class="form-control" placeholder=""></textarea>
                  </div>

                  <button class="btn btn-purple btn-lg full-width">Send Message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="half-height-bg bg-white"></div>
  </section>

  <section class="align-right pt160 pb80 section-move-bg call-to-action-animation scrollme">
    <div class="container">
      <div class="row">
      </div>
    </div>
    <img class="first-img" alt="guy" src="assets/img/guy.png">
    <img class="second-img" alt="rocket" src="assets/img/rocket1.png">
    <div class="content-bg-wrap">
      <div class="content-bg bg-section1"></div>
    </div>
  </section>

  <div class="modal fade" id="registration-login-form-popup">
    <div class="modal-dialog ui-block window-popup registration-login-form-popup">
      <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
        <svg class="olymp-close-icon">
          <use xlink:href="assets/icons/icons.svg#olymp-close-icon"></use>
        </svg>
      </a>
      <div class="registration-login-form">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home1" role="tab">
              <svg class="olymp-login-icon">
                <use xlink:href="assets/icons/icons.svg#olymp-login-icon"></use>
              </svg>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#profile1" role="tab">
              <svg class="olymp-register-icon">
                <use xlink:href="assets/icons/icons.svg#olymp-register-icon"></use>
              </svg>
            </a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="home1" role="tabpanel" data-mh="log-tab">
            <div class="title h6">Register to Olympus</div>
            <form class="content">
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group label-floating is-empty">
                    <label class="control-label">First Name</label>
                    <input class="form-control" placeholder="" type="text">
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group label-floating is-empty">
                    <label class="control-label">Last Name</label>
                    <input class="form-control" placeholder="" type="text">
                  </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12">
                  <div class="form-group label-floating is-empty">
                    <label class="control-label">Your Email</label>
                    <input class="form-control" placeholder="" type="email">
                  </div>
                  <div class="form-group label-floating is-empty">
                    <label class="control-label">Your Password</label>
                    <input class="form-control" placeholder="" type="password">
                  </div>

                  <div class="form-group date-time-picker label-floating">
                    <label class="control-label">Your Birthday</label>
                    <input name="datetimepicker" value="10/24/1984" />
                    <span class="input-group-addon">
                      <svg class="olymp-calendar-icon">
                        <use xlink:href="assets/icons/icons.svg#olymp-calendar-icon"></use>
                      </svg>
                    </span>
                  </div>

                  <div class="form-group label-floating is-select">
                    <label class="control-label">Your Gender</label>
                    <select class="selectpicker form-control">
                      <option value="MA">Male</option>
                      <option value="FE">Female</option>
                    </select>
                  </div>

                  <div class="remember">
                    <div class="checkbox">
                      <label>
                        <input name="optionsCheckboxes" type="checkbox"> I accept the
                        <a href="#">Terms and Conditions</a> of the website
                      </label>
                    </div>
                  </div>

                  <a href="#" class="btn btn-purple btn-lg full-width">Complete Registration!</a>
                </div>
              </div>
            </form>
          </div>

          <div class="tab-pane" id="profile1" role="tabpanel" data-mh="log-tab">
            <div class="title h6">Login to your Account</div>
            <form class="content">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                  <div class="form-group label-floating is-empty">
                    <label class="control-label">Your Email</label>
                    <input class="form-control" placeholder="" type="email">
                  </div>
                  <div class="form-group label-floating is-empty">
                    <label class="control-label">Your Password</label>
                    <input class="form-control" placeholder="" type="password">
                  </div>

                  <div class="remember">

                    <div class="checkbox">
                      <label>
                        <input name="optionsCheckboxes" type="checkbox"> Remember Me
                      </label>
                    </div>
                    <a href="#" class="forgot">Forgot my Password</a>
                  </div>

                  <a href="#" class="btn btn-lg btn-primary full-width">Login</a>

                  <div class="or"></div>

                  <a href="#" class="btn btn-lg bg-facebook full-width btn-icon-left">
                    <i class="fa fa-facebook" aria-hidden="true"></i>Login with Facebook</a>

                  <a href="#" class="btn btn-lg bg-twitter full-width btn-icon-left">
                    <i class="fa fa-twitter" aria-hidden="true"></i>Login with Twitter</a>


                  <p>Don’t you have an account?
                    <a href="#">Register Now!</a> it’s really simple and you can start enjoing all the benefits!</p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer footer-full-width" id="footer">

    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="widget w-about">
            <a href="#" class="logo">
              <img src="assets/img/logo-colored.png" alt="Olympus">
              <h6 class="logo-title">olympus</h6>
              SOCIAL NETWORK
            </a>
            <p>Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod por incidid ut labore et lorem.</p>
            <ul class="socials">
              <li>
                <a href="#">
                  <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-youtube-play" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
          <div class="widget w-list">
            <h6 class="title">Main Links</h6>
            <ul>
              <li>
                <a href="#">Landing</a>
              </li>
              <li>
                <a href="#">Home</a>
              </li>
              <li>
                <a href="#">About</a>
              </li>
              <li>
                <a href="#">Events</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
          <div class="widget w-list">
            <h6 class="title">Your Profile</h6>
            <ul>
              <li>
                <a href="#">Main Page</a>
              </li>
              <li>
                <a href="#">About</a>
              </li>
              <li>
                <a href="#">Friends</a>
              </li>
              <li>
                <a href="#">Photos</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
          <div class="widget w-list">
            <h6 class="title">Features</h6>
            <ul>
              <li>
                <a href="#">Newsfeed</a>
              </li>
              <li>
                <a href="#">Post Versions</a>
              </li>
              <li>
                <a href="#">Messages</a>
              </li>
              <li>
                <a href="#">Friend Groups</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
          <div class="widget w-list">
            <h6 class="title">Olympus</h6>
            <ul>
              <li>
                <a href="#">Privacy</a>
              </li>
              <li>
                <a href="#">Terms & Conditions</a>
              </li>
              <li>
                <a href="#">Forums</a>
              </li>
              <li>
                <a href="#">Statistics</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="sub-footer-copyright">
            <span>
              Copyright
              <a href="index.html">Olympus Buddypress + WP</a> All Rights Reserved 2017
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- Window-popup-CHAT for responsive min-width: 768px -->

  <div class="ui-block popup-chat popup-chat-responsive">
    <div class="ui-block-title">
      <span class="icon-status online"></span>
      <h6 class="title">Chat</h6>
      <div class="more">
        <svg class="olymp-three-dots-icon">
          <use xlink:href="assets/icons/icons.svg#olymp-three-dots-icon"></use>
        </svg>
        <svg class="olymp-little-delete js-chat-open">
          <use xlink:href="assets/icons/icons.svg#olymp-little-delete"></use>
        </svg>
      </div>
    </div>
    <div class="mCustomScrollbar">
      <ul class="notification-list chat-message chat-message-field">
        <li>
          <div class="author-thumb">
            <img src="assets/img/avatar14-sm.jpg" alt="author" class="mCS_img_loaded">
          </div>
          <div class="notification-event">
            <span class="chat-message-item">Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get
              the drinks</span>
            <span class="notification-date">
              <time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 8:10pm</time>
            </span>
          </div>
        </li>

        <li>
          <div class="author-thumb">
            <img src="assets/img/author-page.jpg" alt="author" class="mCS_img_loaded">
          </div>
          <div class="notification-event">
            <span class="chat-message-item">Don’t worry Mathilda!</span>
            <span class="chat-message-item">I already bought everything</span>
            <span class="notification-date">
              <time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 8:29pm</time>
            </span>
          </div>
        </li>

        <li>
          <div class="author-thumb">
            <img src="assets/img/avatar14-sm.jpg" alt="author" class="mCS_img_loaded">
          </div>
          <div class="notification-event">
            <span class="chat-message-item">Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get
              the drinks</span>
            <span class="notification-date">
              <time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 8:10pm</time>
            </span>
          </div>
        </li>
      </ul>
    </div>

    <form>

      <div class="form-group label-floating is-empty">
        <label class="control-label">Press enter to post...</label>
        <textarea class="form-control" placeholder=""></textarea>
        <div class="add-options-message">
          <a href="#" class="options-message">
            <svg class="olymp-computer-icon">
              <use xlink:href="assets/icons/icons.svg#olymp-computer-icon"></use>
            </svg>
          </a>
          <div class="options-message smile-block">

            <svg class="olymp-happy-sticker-icon">
              <use xlink:href="assets/icons/icons.svg#olymp-happy-sticker-icon"></use>
            </svg>

            <ul class="more-dropdown more-with-triangle triangle-bottom-right">
              <li>
                <a href="#">
                  <img src="assets/img/icon-chat1.png" alt="icon">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="assets/img/icon-chat2.png" alt="icon">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="assets/img/icon-chat3.png" alt="icon">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="assets/img/icon-chat4.png" alt="icon">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="assets/img/icon-chat5.png" alt="icon">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="assets/img/icon-chat6.png" alt="icon">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="assets/img/icon-chat7.png" alt="icon">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="assets/img/icon-chat8.png" alt="icon">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="assets/img/icon-chat9.png" alt="icon">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="assets/img/icon-chat10.png" alt="icon">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="assets/img/icon-chat11.png" alt="icon">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="assets/img/icon-chat12.png" alt="icon">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="assets/img/icon-chat13.png" alt="icon">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="assets/img/icon-chat14.png" alt="icon">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="assets/img/icon-chat15.png" alt="icon">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="assets/img/icon-chat16.png" alt="icon">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="assets/img/icon-chat17.png" alt="icon">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="assets/img/icon-chat18.png" alt="icon">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="assets/img/icon-chat19.png" alt="icon">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="assets/img/icon-chat20.png" alt="icon">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="assets/img/icon-chat21.png" alt="icon">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="assets/img/icon-chat22.png" alt="icon">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="assets/img/icon-chat23.png" alt="icon">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="assets/img/icon-chat24.png" alt="icon">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="assets/img/icon-chat25.png" alt="icon">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="assets/img/icon-chat26.png" alt="icon">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="assets/img/icon-chat27.png" alt="icon">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </form>

  </div>


  <!-- ... end Window-popup-CHAT for responsive min-width: 768px -->

<app-goto-top></app-goto-top>
